{# templates/PaymentOption/PaymentOptionForm.html.twig #}


{% extends "layout.html.twig" %}

{% block body %}

   <h1>Options de paiement</h1>
      
{{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <h3 class="text-center">Formulaire</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    {{ form_row(form.merchantId, { 'required': true, 'label' : 'Merchant Id'|upper})  }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    {{ form_row(form.merchantSiteId, { 'required': true, 'label' : 'Merchant Site Id'|upper})  }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form_row(form.save, { 'required': true, 'label' : 'Envoyer'|upper, 'attr' : {'class' : "btn btn-warning btn-lg btn-block"}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{{ form_end(form) }}
{% endblock %}
















