<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Demo Pachirapay API{% endblock %}</title>
        {% block stylesheets %}
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
          
          <style>
            .navbar {
              margin-bottom: 0px !important;
              border-radius: 0px !important;
            }
          </style>
        {% endblock %}

        {% block headjs %}
          {{ encore_entry_script_tags('jQuery') }} 
          {{ encore_entry_script_tags('bootstrapJs') }}
          {{ encore_entry_script_tags('kitFont') }} 
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Pachirapay</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="CardPayment">Paiement sans 3DS</a></li>
              <li><a href="optionPaiment">Options de Paiement</a></li>
              <li><a href="CardPayment3ds">Paiement avec 3DS</a></li> 
            </ul>
          </div>
        </nav>
<div class="container-fluid" style="padding: 0px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12" style="background-color:#504f68;">
            <div class="row">
              <img class="img-fluid"
                style="height: 100%; width: 100%; display: block;"
                src="paymentbackofficelogo.png"
                data-holder-rendered="true"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
                {% block body %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
       
        {% block bodyjs %}
                 {{ encore_entry_script_tags('app') }}
                 {{ encore_entry_script_tags('payment') }}
        {% endblock %}
    </body>
</html>

